*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: Athiti;
}
ul{
    list-style: none;
    padding: 0;
    padding-inline-start: 0;
}
a{
    text-decoration: none;
}

//**HELPER**//



@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@700&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Athiti:wght@400;700&display=swap');
