$c-white: white;
$c-black: black;
$c-black-op-max: rgba(0, 0, 0, 0.689);
$c-black-op-med: rgba(0, 0, 0, 0.5);
$c-black-op-min: rgba(0, 0, 0, 0.2);
$c-black-op-none: rgba(0, 0, 0, 0);
$c-white-op-max: rgba(255, 255, 255, 0.738);
$c-white-op-med: rgba(255, 255, 255, 0.5);
$c-white-op-min: rgba(255, 255, 255, 0.2);
$c-red: red;

$h-c:150px;
///**MIXIN**///
@mixin dfc {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin dfa {
    display: flex;
    align-items: center;
}
@mixin dfj {
    display: flex;
    justify-content: center;
}

///**display-width-responsive**///
$bp1:920px;
$bp2:720px;
$bp3:520px;

///**font-sizing**///
$fs-title-max: 7.1rem;
$fs-title-med: 6rem;
$fs-title-med-s: 4.5rem;
$fs-title-min: 4rem;
$fs-title-min-s: 3.4rem;

//**button**//
.button{
    @include dfc;
    gap: 10px;
    padding: 0px 40px;
    box-shadow: 10px 16px 4.2px 0px rgba(0, 0, 0, 0.50);
    border-radius: 12px;
    border: 5px solid #FFFDFD;
    background: rgba(66, 66, 66, 0.84);
    font-family: Athiti;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 25px;
    letter-spacing: 5px;

    position: relative;
    z-index: 100;
    .btn-link{
        color: white;
    }
    svg{
        width: 20px;
        height: 20px;
        transition: all ease-in-out 300ms;
    }
    transition: all ease-in-out 300ms;
}
.button:hover{
    scale: 1.1;
    transition: all ease-in-out 300ms;
    
}
.button:hover svg{
    width: 35px;
    height: 35px;
    transform: rotateY(50deg);
    transition: all ease-in-out 300ms;
    
}
//font-size
.fs-l{
    font-size: 40px;
}
.fs-m{
    font-size: 30px;
}
.fs-s{
    font-size: 23px;
}
.fs-xs{
    font-size: 16px;
}
@media (max-width:900px) {
    .fs-l{
        font-size: 35px;
    }
    .fs-m{
        font-size: 25px;
    }
    .fs-s{
        font-size: 25px;
    }
    .fs-xs{
        font-size: 18px;
    }
}